<!DOCTYPE html>
<html lang="en">
 <%- include('./partials/head.ejs') %>
  <body>

    
    <%- include('./partials/nav.ejs') %>

    <div class="about content">

        <h2>About Us</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem aut architecto molestias facilis cum odit veniam necessitatibus hic distinctio corrupti, dolores fuga aspernatur beatae optio perferendis cupiditate! Exercitationem, hic vitae!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem aut architecto molestias facilis cum odit veniam necessitatibus hic distinctio corrupti, dolores fuga aspernatur beatae optio perferendis cupiditate! Exercitationem, hic vitae!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem aut architecto molestias facilis cum odit veniam necessitatibus hic distinctio corrupti, dolores fuga aspernatur beatae optio perferendis cupiditate! Exercitationem, hic vitae!</p>

    </div>

    <%- include('./partials/head.ejs') %>

  </body>
</html>
